:root{
    --background-color-1: #FFCDA2;
    --background-color-2: #FFA453;
}

.header-section{
    background: linear-gradient(180deg,var(--background-color-1),var(--background-color-2))
}
.burger-background-img{
    background-image: url(../images/burger-bg-img.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}